.task-list {
    padding-top: 7rem;
}

.task-list__group {
    margin-bottom: 3rem;
}

.task-item {
    margin-bottom: 3rem;
}

.tasks-title {
    margin-bottom: 4rem;
}

.tasks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-title p {
    text-transform: uppercase;
}

.tasks-title__link {
    font-family: $exo-700;
    font-size: 1.6rem;
    line-height: 1.3;
    text-transform: uppercase;
    color: #18C5DF;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 1.5rem;
}

.task-item__image {
    display: block;
    height: 13rem;
    border: 0.1rem solid #97ADDC;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.task-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.task-item__detail {
    display: flex;
}

.task-item__author {
    display: inline-block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    margin-right: 0.6rem;
}

.task-item__author img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.task-item__author-default {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    margin-right: 0.6rem;
}

.task-item__author-default .icon {
    font-size: 4.4rem;
}

.task-item__text {
    width: calc(100% - 5rem);
}

.task-item__label {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 0.1rem 0.5rem 0.3rem;
    color: #97ADDC;
    border: 0.1rem solid #97ADDC;
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
}

.task-item__name {
    display: block;
    font-family: $exo-700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.tasks-show-all-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .task-list {
        margin-left: auto;
        margin-right: auto;
        max-width: 80rem;
    }
}

@media (max-width: 991px) {
    .tasks-title p {
        font-family: $exo-700;
    }
}

@media (max-width: 767px) {
    .task-list {
        padding-top: 4rem;
    }

    .task-list__group {
        margin-bottom: 7rem;
    }

    .tasks-title__link--desktop {
        display: none;
    }

    .tasks-show-all-mobile {
        display: block;
        text-align: center;
    }

    .tasks-title__link--mobile {
        margin: 0;
    }

    .tasks-title {
        margin-bottom: 3rem;
    }

    .tasks-title .h1 {
        font-family: $exo-900;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0;
    }
}


