//fonts
$exo-400: 'exo2-regular', sans-serif;
$exo-500: 'exo2-medium', sans-serif;
$exo-700: 'exo2-bold', sans-serif;
$exo-800: 'exo2-extrabold', sans-serif;
$exo-900: 'exo2-black', sans-serif;

//colors

